@charset "UTF-8";
html {
  font-size: 62.5%;
}

a img {
  border: none;
  vertical-align: top;
  transition: 0.3s ease-in-out;
}
a:hover img {
  opacity: 0.9;
  /* 透過レベル */
  filter: alpha(opacity=90);
}

@media only screen and (min-width: 769px) {
  a[href*="tel:"] {
    text-decoration: none;
    pointer-events: none;
  }
}

.wp-person a:focus .gravatar,
a:focus,
a:focus .media-icon img {
  box-shadow: none;
}

.img-responsive {
  display: inline-block;
}

.center-block {
  display: block;
}

ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@media only screen and (max-width: 768px) {
  .row figure {
    text-align: center;
  }
}

.wrapper {
  background: url(../images/common/common_bg.jpg) left top repeat;
}

@media only screen and (min-width: 769px) {
  .wrapper {
    overflow-x: hidden;
  }
}
/*共通で使うパーツ**/
.c-padding, .secPage {
  padding: 20px 0 30px 0;
}
@media only screen and (max-width: 768px) {
  .c-padding, .secPage {
    padding: 1.5em 0;
  }
}

.c-text {
  margin-bottom: 1.5em;
}

.hidetxt {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.img-parallax {
  background-attachment: fixed;
  background-size: cover;
  height: 450px;
}
@media only screen and (max-width: 768px) {
  .img-parallax {
    height: 250px;
  }
}

.l-article {
  font-size: 14px;
  font-size: 1.4rem;
  background: #fff;
}
.l-article .article__title {
  text-align: center;
  padding: 80px;
  color: #1D945C;
  background: #E0E3D9;
}
@media only screen and (max-width: 768px) {
  .l-article .article__title {
    padding: 40px 1em;
  }
}
.l-article .article__title h1 {
  font-size: 30px;
  font-size: 3rem;
  font-weight: bold;
  animation: float ease-out 0.7s;
}
@media only screen and (max-width: 768px) {
  .l-article .article__title h1 {
    font-size: 22px;
    font-size: 2.2rem;
  }
}
.l-article .article__contents {
  font-size: 14px;
  font-size: 1.4rem;
  max-width: 700px;
  margin: 0 auto;
  padding: 70px 0;
}
.l-article .article__mv {
  margin-bottom: 30px;
  animation: float ease-out 0.7s 0.1s forwards;
}
.inview {
  opacity: 0;
  transform: translate(0, 20px);
  transition: all 0.9s ease;
}
.inview.fadeIn {
  animation: float ease-out 0.7s 0.1s forwards;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .movie {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }
}
@media only screen and (max-width: 768px) {
  .movie iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

.features__block__image {
  margin: 5px;
}

@keyframes float {
  0% {
    transform: translatey(0px);
    opacity: 0;
  }
  50% {
    transform: translatey(-20px);
    opacity: 1;
  }
  100% {
    transform: translatey(0px);
  }
}
/* btn
=========================================== */
.button-right:after {
  content: "";
  font-family: FontAwesome;
  margin-left: 0.5em;
}
.button-left:before {
  content: "";
  font-family: FontAwesome;
  margin-right: 0.5em;
}

.button__wrap {
  text-align: center;
  margin: 2em 0 0;
}

.button {
  display: inline-block;
  text-decoration: none;
  transition: 0.4s;
  background-color: #1D945C;
  font-weight: bold;
  color: #FFF;
  padding: 0.5em 1em;
}
.button.button--default {
  background: #fff;
  border-color: #999;
  color: #999;
}
.button.button--default:hover {
  background: #f2f2f2;
}
.button.button--primary {
  background: #1D945C;
  color: #fff;
}
.button.button--primary:hover {
  color: white;
  background: #3ed990;
}
.button.button--secondary {
  background: #C3A36D;
  color: white;
}
.button.button--secondary:hover {
  color: white;
  background: #e1d1b5;
}
.button.button--accent {
  background: #e73535;
  color: white;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.button.button--accent:hover {
  color: white;
  background: #f29090;
}
.button.button--outline {
  background: transparent;
  border: 2px solid #1D945C;
}
.button.button--outline:hover {
  border-color: #C3A36D;
}
.button.button--white {
  color: #1D945C;
  background-color: #fff;
  border-color: #fff;
}
.button.button--white:hover {
  color: #fff;
  background-color: #1D945C;
}
.button.button--block {
  width: 100%;
  max-width: inherit;
}
.button.button--more {
  background: #000;
  border: 0;
  border-color: #999;
  color: #fff;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  position: relative;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
  height: 60px;
  max-width: 340px;
  width: 340px;
}
@media only screen and (max-width: 768px) {
  .button.button--more {
    font-size: 15.5px;
    font-size: 1.55rem;
    width: 100%;
    max-width: 240px;
  }
}
.button.button--more:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 20px 20px;
  border-color: transparent transparent #eed706 transparent;
  transform: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media only screen and (max-width: 768px) {
  .button.button--more:after {
    border-width: 0 0 14px 14px;
  }
}
.button.button--more:hover {
  opacity: 0.7;
}
.button.button--more:hover:after {
  right: 0;
}
.button.button--small {
  font-size: 14px;
  font-size: 1.4rem;
  height: 40px;
}
.button.button--large {
  font-size: 18px;
  font-size: 1.8rem;
  border-radius: 60px;
  height: 72px;
}
.button.button--nowide {
  min-width: inherit;
}

/*@import "module/dl";*/
/* font
=========================================== */
.text-large {
  font-size: 22.5px;
  font-size: 2.25rem;
}
.text-larger {
  font-size: 27px;
  font-size: 2.7rem;
}
.text-xlarge {
  font-size: 31.5px;
  font-size: 3.15rem;
}
.text-small {
  font-size: 16.2px;
  font-size: 1.62rem;
}
.text-smaller {
  font-size: 14.4px;
  font-size: 1.44rem;
}
.text-xsmall {
  font-size: 12.6px;
  font-size: 1.26rem;
}

.text-primary {
  color: #1D945C;
}
.text-secondary {
  color: #C3A36D;
}
.text-red {
  color: #f85e3f;
}
.text-blue {
  color: blue;
}
.text-yellow {
  color: yellow;
}
.text-green {
  color: green;
}
.text-white {
  color: white;
}
.text-black {
  color: #15181f;
}
.text-gray {
  color: #a0a0a0;
}
.text-disabled {
  color: #ccc;
}

.text-bold {
  font-weight: bold;
}
.text-normal {
  font-weight: normal;
}
.text-100 {
  font-weight: 100;
}

.text-underline {
  text-decoration: underline;
}
.text-italic {
  font-style: italic;
}
.text-marker {
  background: linear-gradient(transparent 0%, #ffff66 0%);
}
.text-marker-thin {
  background: linear-gradient(transparent 60%, #ffff66 60%);
}

.mincho {
  font-family: "Noto Serif JP", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

.gothic {
  font-family: "Noto Sans JP", sans-serif;
}

.en {
  font-family: "Roboto", sans-serif;
}

.lead {
  text-align: center;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 0.5em !important;
  color: #1D945C;
}
@media only screen and (max-width: 420px) {
  .lead {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.ballon {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}
.ballon .ballon-title {
  position: relative;
  padding: 16px 16px;
  border-radius: 4px;
  background-color: #1D945C;
  color: #fff;
}
.ballon .ballon-title:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-top: 8px solid #1D945C;
  border-right: 8px solid #1D945C;
}

/* リスト
=========================================== */
.list {
  margin-bottom: 1em;
}
.list > li:not(:last-child) {
  margin-bottom: 0.5em;
}

.list-disc li {
  padding-left: 0.5em;
  position: relative;
}
.list-disc li:before {
  position: relative;
  vertical-align: middle;
  content: "・";
  margin-right: 0.5em;
  color: #1D945C;
}

.list-circle {
  margin-bottom: 1em;
}
.list-circle li {
  margin-bottom: 0.5em;
  padding-left: 0.5em;
  position: relative;
}
.list-circle li:before {
  position: relative;
  vertical-align: middle;
  content: "";
  font-family: FontAwesome;
  margin-right: 1em;
  font-size: 5.4px;
  font-size: 0.54rem;
  color: #1D945C;
}

.list-arrow {
  margin-bottom: 1em;
}
.list-arrow li {
  margin-bottom: 0.5em;
  padding-left: 1em;
  position: relative;
}
.list-arrow li:before {
  position: relative;
  vertical-align: middle;
  content: "";
  font-family: FontAwesome;
  margin-right: 0.5em;
  color: #1D945C;
}

.list-check {
  margin-bottom: 1em;
}
.list-check li {
  margin-bottom: 0.5em;
  padding-left: 2em;
  position: relative;
}
.list-check li:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  font-family: FontAwesome;
  padding: 2px 7px;
  margin-right: 3px;
}

.list-number {
  counter-reset: li;
  list-style: none;
  padding-left: 0;
}
.list-number > li {
  position: relative;
  margin-bottom: 0.5em;
  padding-left: 2.5em;
}
.list-number > li:before {
  content: counter(li) "";
  counter-increment: li;
  position: absolute;
  left: 0;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.list-number li:before {
  background: #1D945C;
}

.list-number02 {
  margin-bottom: 20px;
  list-style-type: none;
  list-style-type: decimal;
  counter-reset: li-counter;
  padding: 30px 20px 20px 80px;
}
.list-number02 > li {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-left: 0.5em;
  min-height: 3em;
  border-bottom: 1px dotted #a0a0a0;
}
.list-number02 > li:before {
  position: absolute;
  top: 0;
  left: -1em;
  width: 0.2em;
  font-size: 3em;
  line-height: 1;
  text-align: right;
  content: counter(li-counter);
  counter-increment: li-counter;
  font-family: "Roboto", sans-serif;
}
.list-number02 > li:last-child {
  margin-bottom: 0;
}

table {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

.table-default {
  margin-bottom: 3rem;
  width: 100%;
}
.table-default th {
  border-bottom: 4px solid #9BC1AF;
  padding: 15px;
  color: #000;
  vertical-align: middle;
  font-weight: bold;
  text-align: center;
}
.table-default td {
  padding: 15px;
  text-align: left;
  border-bottom: 4px solid #ECEFED;
  vertical-align: middle;
}
/*@import "module/space";
@import "module/background";
@import "module/box";
@import "module/faq";
@import "module/flow";
@import "module/privacy";
@import "module/sitemap";
@import "module/breadcrumb";
@import "module/layout";*/
.l-main h2:not(.h2__title) {
  text-align: center;
  margin: 0 auto 1.5em;
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 1.4;
  color: #000000;
  padding: 30px 10px;
  position: relative;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  .l-main h2:not(.h2__title) {
    font-size: 18px;
    font-size: 1.8rem;
  }
}
.l-main h2:not(.h2__title):before, .l-main h2:not(.h2__title):after {
  content: "";
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 115px;
  height: 52px;
  display: block;
  position: absolute;
}
.l-main h2:not(.h2__title):before {
  background-image: url(../images/park/park_h2_left.svg);
  left: 0;
  top: 0;
}
.l-main h2:not(.h2__title):after {
  background-image: url(../images/park/park_h2_right.svg);
  right: 0;
  bottom: 0;
}
.l-main .h2__title {
  position: relative;
  padding: 1rem 2rem calc(1rem + 10px);
  color: #1D945C;
  background: #E0E3D9;
  font-weight: bold;
  font-size: 22px;
  font-size: 2.2rem;
  margin: 20px;
}
.l-main .h2__title:before {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 100%;
  content: "";
  border: 4px solid #1D945C;
}
.l-main h3 {
  text-align: left;
  margin-bottom: 1em;
  font-size: 19px;
  font-size: 1.9rem;
  color: #000;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  .l-main h3 {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
.l-main h3:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 5px;
  border-radius: 10px;
  background-color: #F90909;
  margin-right: 0.3em;
  vertical-align: middle;
}
.l-main h4 {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #000;
  background-color: #F2F2F2;
  border-radius: 22px;
  display: inline-block;
  padding: 0.7em 25px;
}

.article__icon {
  position: relative;
  animation: float ease-out 0.8s;
}
.article__icon img {
  position: absolute;
  top: -130px;
  left: -20px;
  text-align: center;
  margin: 0 auto;
  display: block;
  padding: 20px;
}
@media only screen and (max-width: 768px) {
  .article__icon img {
    top: -55px;
    max-width: 140px;
  }
}

@media only screen and (min-width: 769px) {
  .layout__date {
    margin-left: -20px;
    margin-right: -20px;
  }
}
.layout__date div[class*=col-] {
  padding-left: 10px;
  padding-right: 10px;
}

.table__vr {
  font-size: 13px;
  font-size: 1.3rem;
  width: 100%;
  line-height: 1.4;
  margin: 15px 0;
}
.table__vr th, .table__vr td {
  border: 1px solid #ccc;
  padding: 10px 5px;
}
.table__vr th {
  font-weight: bold;
  text-align: center;
}
.table__vr td {
  letter-spacing: 0;
}
.table__vr td:nth-of-type(2) {
  width: 33%;
  text-align: right;
}

.table__vr2 {
  font-size: 13px;
  font-size: 1.3rem;
  width: 100%;
  line-height: 1.4;
  margin: 15px 0;
}
.table__vr2 th, .table__vr2 td {
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
}
.table__vr2 th {
  font-weight: bold;
  text-align: center;
}
.table__vr2 td {
  letter-spacing: 0;
}

.features__block__image__smallL {
  float: left;
  max-width: 90px;
}
@media only screen and (max-width: 420px) {
  .features__block__image__smallL {
    float: none;
    max-width: unset;
  }
}
.features__block__image__smallR {
  float: right;
  max-width: 90px;
}
@media only screen and (max-width: 420px) {
  .features__block__image__smallR {
    float: none;
    max-width: unset;
  }
}
.features__block__image__center {
  margin-top: 8rem;
}
@media only screen and (max-width: 420px) {
  .features__block__image__center {
    margin-top: unset;
  }
}

.article__contents .layout__date {
  padding: 2em 0 0;
}
.article__contents .layout__date .layout__date__image {
  margin-bottom: 1.5em;
}

.menu__list a {
  display: block;
  text-decoration: none;
}
.menu__list a:hover img {
  opacity: 0.7;
}
.menu__list a:hover .menu__list__caption {
  color: #1D945C;
}
.menu__list .menu__list__caption {
  margin: 0.5em 0 2em;
  line-height: 1.5;
  border-left: 4px solid #1D945C;
  padding: 0.3em 0 0.3em 0.5em;
  color: #15181f;
  transition: 0.3s ease-in-out;
}
@media only screen and (max-width: 768px) {
  .menu__list .menu__list__caption {
    margin: 1em 0 2em;
  }
}

.mini-mb {
  margin-bottom: 1.5em;
}

.bnr_lifeblock_vr {
  display: block;
  background: #fff;
  box-shadow: 0 0 3px #ccc;
  padding: 20px;
  text-decoration: none;
  color: inherit;
  text-align: center;
}
.bnr_lifeblock_vr .row {
  justify-content: center;
  align-items: center;
}
.bnr_lifeblock_vr .button {
  display: block;
  text-align: center;
  background: #fff;
  border: 1px solid #1D945C;
  color: #1D945C;
}
@media only screen and (max-width: 768px) {
  .bnr_lifeblock_vr img {
    max-width: 160px;
    margin-bottom: 20px;
  }
}
.bnr_lifeblock_vr:hover {
  box-shadow: 0 0 4px #aaa;
  color: #1D945C;
}
.bnr_lifeblock_vr:hover .button {
  color: #fff;
  background: #1D945C;
}

.royal_logo {
  display: inline-block;
  background: #eee;
  padding: 10px;
}

.video__contents .link_video {
  display: block;
  position: relative;
  transition: all 0.4s;
  padding: 0;
}
.video__contents .link_video:before, .video__contents .link_video:after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  transition: all 0.4s;
  z-index: 2;
  opacity: 0.7;
}
.video__contents .link_video:before {
  width: 46px;
  height: 46px;
  background: #1D945C;
  border-radius: 50%;
}
.video__contents .link_video:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 14px;
  border-color: transparent transparent transparent #fff;
  margin-left: 3px;
}
.video__contents .link_video img {
  position: relative;
  z-index: 1;
  border: 3px solid #1D945C;
}
.video__contents .link_video:hover:before, .video__contents .link_video:hover:after {
  transform: translate(-50%, -50%) scale(1.1, 1.1);
  opacity: 1;
}
.video__contents .video__ttl {
  display: block;
  margin-bottom: 20px;
  position: relative;
  padding-left: 19px;
}
.video__contents .video__ttl:before {
  content: "";
  position: absolute;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(29, 148, 92, 0.6);
  top: 0.6em;
}

.modal-movie {
  max-width: 750px;
}
@media only screen and (max-width: 768px) {
  .modal-movie {
    padding: 0 10px;
  }
}
.modal-movie .movie {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.modal-movie .movie iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

.closebtn {
  position: absolute;
  right: -40px;
  top: -40px;
  font-size: 40px;
  color: #fff;
  background: none;
}
@media only screen and (max-width: 768px) {
  .closebtn {
    right: -5px;
  }
}

#modal-container figure a {
  display: block;
  overflow: hidden;
  border: 8px inset #C3A36D;
  display: block;
}
#modal-container figure a img {
  display: block;
  transition: all 0.5s;
  box-shadow: 0px 0px 10px 5px #000 inset;
}
#modal-container figure a:hover img {
  transform: scale(1.1, 1.1);
}
#modal-container figure figcaption {
  text-align: center;
  margin: 5px auto 40px;
  font-size: 110%;
}

.carousel-item {
  text-align: center;
}

.modal_slideshow .close {
  font-size: 30px;
  color: #fff;
  opacity: 1;
}
.modal_slideshow .modal-content {
  background: none;
  border: none;
  margin-bottom: 80px;
}
.modal_slideshow .modal-content .modal-header, .modal_slideshow .modal-content .modal-footer {
  background: none;
  border: none;
}
.modal_slideshow .modal-content .carousel-indicators {
  top: 100%;
  padding: 5px 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.modal_slideshow .modal-content .carousel-indicators li {
  width: 100px;
  height: auto;
  text-indent: unset;
  background-color: transparent;
  opacity: 1;
}
.modal_slideshow .modal-content .carousel-indicators li.active {
  opacity: 1;
}
.modal_slideshow .modal-content .carousel-indicators li.active img {
  border: 3px solid #1D945C;
}
.modal_slideshow .modal-content .carousel-indicators li::before, .modal_slideshow .modal-content .carousel-indicators li::after {
  width: 0;
  height: 0;
}
.modal_slideshow .modal-content .carousel-indicators li img {
  border: 3px solid rgba(45, 48, 56, 0.8);
  background: #2d3038;
}

.modal-backdrop.show {
  opacity: 0.8;
}

#mfp_hidden {
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0px;
  margin: 0px;
}
#mfp_hidden input {
  margin: 10px;
}

.mfp_thanks {
  padding: 30px;
}
.mfp_thanks p {
  line-height: 1.7em;
}
.mfp_thanks ul.mfp_caution {
  margin: 0px;
  padding: 0px;
}
.mfp_thanks ul.mfp_caution li {
  display: block;
  color: #e73535;
  margin: 0px;
  padding: 5px 0px;
}

#mfp_thanks {
  text-align: center;
  font-size: 18px;
  padding: 20px 0px;
}
#mfp_thanks strong {
  color: #e73535;
  font-size: 24px;
}

form#mailformpro {
  padding: 10px 0px;
}

.optionally {
  display: block;
  background-color: #06C;
  border: solid 2px #06C;
  text-shadow: 0px 1px 2px #933;
  padding: 2px 5px;
  font-size: 10px;
  color: #FFF;
  float: left;
  margin: 0px 5px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px #CCC;
  background-image: url(../form/mfp.statics/_images/mfp_header.png);
  background-size: 100% 100%;
}

form#mailformpro label.mfp_checked {
  padding: 3px;
  border: solid 1px #CCC;
  background-color: #E8EEF9;
  box-shadow: 0px 1px 3px #CCC inset;
}
form#mailformpro label.mfp_not_checked {
  padding: 3px;
  border: solid 1px #EEE;
}

table#mfp_confirm_table {
  border-spacing: 0px;
  border-collapse: collapse;
  width: 100%;
}
table#mfp_confirm_table tr.mfp_colored {
  background-color: #F6F7F9;
}
table#mfp_confirm_table tr.mfp_achroma {
  background-color: #FFF;
}
table#mfp_confirm_table tr th, table#mfp_confirm_table tr td {
  text-align: left;
  font-size: 12px;
  border-top: solid 1px #CCC;
  padding: 5px 10px;
}
table#mfp_confirm_table tr th {
  white-space: nowrap;
  width: 200px;
}
table#mfp_confirm_table tr td {
  line-height: 1.5em;
  word-break: break-all;
}

div#mfp_phase_confirm {
  clear: both;
}
div#mfp_phase_confirm h4 {
  font-size: 36px;
  padding: 10px 0px 0px 0px;
  text-align: center;
}
div#mfp_overlay {
  position: absolute;
  display: none;
  z-index: 10001;
}
div#mfp_overlay_inner {
  background-color: #FFF;
  padding: 15px;
  margin: 0px auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #2d3038;
  width: 640px;
  max-width: 90%;
}
div#mfp_overlay_background {
  background-color: #2d3038;
  position: absolute;
  display: none;
  z-index: 10000;
}
div#mfp_loading_screen {
  z-index: 20000;
  opacity: 0.8;
  display: none;
  background-color: #2d3038;
  position: absolute;
}
div#mfp_loading {
  z-index: 20001;
  position: absolute;
  display: none;
  width: 40px;
  height: 40px;
  background-image: url(../form/mfp.statics/_images/mfp_loading.gif);
}

.mfp_colored {
  background-color: #F6F7F9;
}

.mfp_achroma {
  background-color: #FFF;
}

div.mfp_err {
  clear: both;
  display: none;
  text-align: left;
  margin: 5px 0px 0px 0px;
  padding: 3px 0px 5px 17px;
  color: #F00;
  font-size: 12px;
  line-height: normal;
  background-image: url(../form/mfp.statics/_images/mfp_error.gif);
  background-repeat: no-repeat;
  background-position: 0px 1px;
}

.mfp_parent_error {
  border: solid 2px #F00;
}

.problem {
  background-color: #FCC;
}

div#mfp_error {
  background-color: #FEE;
  border: solid 1px #F00;
  padding: 10px;
  display: none;
}
div#mfp_warning {
  background-color: #FEE;
  border: solid 1px #F00;
  padding: 10px;
  display: none;
  border-radius: 5px;
}
div#mfp_price {
  color: #e73535;
  font-size: 36px;
  padding: 10px;
  font-weight: bolder;
}
div#mfp_price span {
  color: #666;
  font-size: 12px;
  font-weight: normal;
}

button.mfp_next, button.mfp_prev {
  font-size: 18px;
  margin: 10px;
  padding: 5px 10px;
}
button.mfp_next {
  float: right;
}
button.mfp_prev {
  float: left;
}

ul#mfp_phase_stat {
  padding: 10px;
  text-align: center;
}
ul#mfp_phase_stat li {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 5px;
  margin: 0px 5px;
  list-style: none;
  font-size: 14px;
}
ul#mfp_phase_stat li.mfp_phase_arrow {
  box-shadow: none;
  color: #999;
  padding: 8px 0px;
}
ul#mfp_phase_stat li.mfp_active_phase {
  box-shadow: 0px 1px 6px #2d3038;
  background-image: url(../form/mfp.statics/_images/mfp_header.png);
  background-size: 100% 100%;
  background-color: #0068B7;
  border: solid 2px #0068B7;
  font-weight: bolder;
  color: #FFF;
  text-shadow: 0px 1px 3px #2d3038;
}
ul#mfp_phase_stat li.mfp_inactive_phase {
  background-image: url(../form/mfp.statics/_images/mfp_header.png);
  background-size: 100% 100%;
  background-color: #EEE;
  border: solid 2px #EEE;
  color: #999;
  box-shadow: 0px 1px 6px #CCC;
}

div#mfp_shopping_cart {
  border: solid 1px #CCC;
  margin: 0px;
  padding: 0px;
}
div#mfp_shopping_cart p {
  margin: 0px;
  text-align: center;
  padding: 20px 10px;
  font-size: 12px;
  background-color: #FEE;
}

table.mfp_shoppingcart {
  border-spacing: 0px;
  border-collapse: collapse;
  width: 100%;
}
table.mfp_shoppingcart thead tr td {
  background-color: #EEE;
  border-bottom: solid 1px #CCC;
  text-align: center;
  font-size: 12px;
  padding: 5px;
}
table.mfp_shoppingcart tbody tr th {
  font-size: 12px;
  padding: 5px;
  border-bottom: solid 1px #CCC;
}
table.mfp_shoppingcart tbody tr td {
  font-size: 12px;
  padding: 5px;
  border-bottom: solid 1px #CCC;
}
table.mfp_shoppingcart tbody tr td select {
  display: block;
  margin: 0px auto;
  text-align: center;
}
table.mfp_shoppingcart tbody tr td select option {
  text-align: center;
}
table.mfp_shoppingcart tbody tr th span {
  display: block;
  font-weight: normal;
  font-size: 10px;
  color: #666;
  padding: 3px 0px;
}
table.mfp_shoppingcart tfoot tr td {
  padding: 5px;
  font-size: 16px;
  font-weight: bolder;
  color: #900;
}

td.msc_price {
  font-size: 12px;
  text-align: right;
}

div.mfp_buttons {
  clear: both;
  padding: 10px 0px;
  text-align: center;
}
.imagebutton {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  background: none;
}

.mfp_element_all {
  max-width: 90%;
}

.mfp_element_text, .mfp_element_number, .mfp_element_select-one, .mfp_element_email, .mfp_element_tel, .mfp_element_textarea, .mfp_element_date, .mfp_element_password {
  border: solid 1px #CCC;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #CCC inset;
  padding: 3px 8px;
  margin: 2px;
  vertical-align: middle;
}

.mfp_element_checkbox, .mfp_element_radio {
  vertical-align: middle;
  margin: 0px 2px;
}

.mfp_element_file {
  font-size: 12px;
  display: inline-block;
  padding: 10px 10px;
  vertical-align: middle;
  border: solid 1px #CCC;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #CCC inset;
  background: #EEE;
}

.mfp_element_submit, .mfp_element_reset, .mfp_element_button {
  border-radius: 5px;
  padding: 5px 10px;
  border: solid 1px #CCC;
  background: gradient(linear, center top, center bottom, from(#EEE), to(#CCC));
  background: -ms-linear-gradient(top, #EEE 0%, #CCC 100%);
  text-shadow: 0px 2px 0px #FFF;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

button.mfp_next, button.mfp_prev {
  border-radius: 5px;
  padding: 5px 10px;
  border: solid 1px #CCC;
  background: gradient(linear, center top, center bottom, from(#EEE), to(#CCC));
  background: -ms-linear-gradient(top, #EEE 0%, #CCC 100%);
  text-shadow: 0px 2px 0px #FFF;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

.mfp_element_reset {
  color: #333;
}

.mfp_element_submit:hover, .mfp_element_reset:hover, .mfp_element_button:hover {
  background: gradient(linear, center top, center bottom, from(#FFF), to(#CCC));
  background: -ms-linear-gradient(top, #FFF 0%, #CCC 100%);
  box-shadow: 0px 2px 15px #CCC;
}

button.mfp_next:hover, button.mfp_prev:hover {
  background: gradient(linear, center top, center bottom, from(#FFF), to(#CCC));
  background: -ms-linear-gradient(top, #FFF 0%, #CCC 100%);
  box-shadow: 0px 2px 15px #CCC;
}
button.mfp_next, button.mfp_prev {
  font-size: 14px;
}

input#mfp_reserve_item, input#mfp_reserve_date {
  display: none;
}

div#mfp_reserve_wrapper {
  position: relative;
  overflow: hidden;
  border: solid 1px #CCC;
}
div#mfp_reserve_inner {
  position: relative;
  padding: 0px 0px 0px 100px;
  overflow: auto;
}
div#mfp_reserve_wrapper table {
  border-spacing: 0px;
  border-collapse: collapse;
}
div#mfp_reserve_wrapper table.mfp_reserve_table_label {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  background-color: #FEE;
  z-index: 100;
}
div#mfp_reserve_wrapper table.mfp_reserve_table_value {
  padding: 0px 0px 0px 0px;
}
div#mfp_reserve_wrapper table.mfp_reserve_table_value tr td.mfp_reserve_active, div#mfp_reserve_wrapper table.mfp_reserve_table_value tr td.mfp_reserve_warning {
  cursor: pointer;
}
div#mfp_reserve_wrapper table.mfp_reserve_table_value tr td.mfp_reserve_active:hover, div#mfp_reserve_wrapper table.mfp_reserve_table_value tr td.mfp_reserve_warning:hover {
  background-color: #E8EEF9;
}
div#mfp_reserve_wrapper table.mfp_reserve_table_value tr td.mfp_reserve_current {
  background-color: #0068B7;
  color: #FFF;
}

td.mfp_reserve_disabled {
  background-color: #CCC;
}
td.mfp_reserve_warning {
  background-color: #FFC;
}

div#mfp_reserve_wrapper table tr td, div#mfp_reserve_wrapper table tr th {
  border: solid 1px #CCC;
  padding: 0px 5px;
  font-size: 12px;
  text-align: center;
  font-family: Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  font-weight: normal;
  height: 20px;
  text-align: left;
}

td.mfp_reserve_week_0 {
  color: #F00;
  background-color: #FEE;
}
td.mfp_reserve_week_6 {
  color: #00F;
  background-color: #EEF;
}

div.mfp_ok {
  border-radius: 5px;
  background-color: #090;
  border: solid 1px #090;
  display: inline-block;
  line-height: 1.5em;
  padding: 0px 5px;
  margin: 0px 2px;
  color: #FFF;
  font-size: 10px;
  background-image: url(../form/mfp.statics/_images/mfp_header.png);
  background-size: 100% 100%;
  display: none;
}
div.prefcodeWrapper {
  position: relative;
}
div.prefcodeResult {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px;
  border: solid 1px #CCC;
  background-color: #FFF;
  box-shadow: 0px 0px 5px #CCC;
  display: none;
}
div.prefcodeResult div {
  cursor: pointer;
}
div.prefcodeResult div:hover {
  background-color: #C9EBFB;
}
div.prefcodeResult div.prefcodeNext {
  background-color: #EEE;
  text-align: center;
}
div.prefLoading {
  padding: 60px 100px;
  background: url(../form/mfp.statics/_images/mfp_zip_loading.gif) no-repeat center center;
}
div.mfpSuggestWrapper {
  position: relative;
}
div.mfpSuggestResult {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px;
  border: solid 1px #CCC;
  background-color: #FFF;
  box-shadow: 0px 0px 5px #CCC;
  display: none;
}
div.mfpSuggestResult div {
  cursor: pointer;
}
div.mfpSuggestResult div:hover {
  background-color: #C9EBFB;
}
div.mfpSuggestResult div.mfpSuggestNext {
  background-color: #EEE;
  text-align: center;
}
div.prefLoading {
  padding: 60px 100px;
  background: url(../form/mfp.statics/_images/mfp_zip_loading.gif) no-repeat center center;
}

.hidefield {
  height: 0px;
  overflow: hidden;
}

.showfield {
  height: auto;
  overflow: visible;
}

div.mfp_attached_thumbnails {
  display: none;
  padding: 5px;
  margin: 5px auto;
  border: solid 1px #CCC;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #CCC inset;
  background: #EEE;
}
div.mfp_attached_thumbnails ul {
  margin: 0px;
  padding: 0px;
}

form#mailformpro dl dd div.mfp_attached_thumbnails ul li {
  display: inline-block;
  vertical-align: top;
  padding: 0px;
  border: solid 4px #FFF;
  margin: 5px;
  box-shadow: 0px 2px 5px #999;
}
form#mailformpro dl dd div.mfp_attached_thumbnails ul li a {
  display: block;
  max-height: 100px;
  overflow: hidden;
}

div.mfp_attached_thumbnails ul li a img {
  display: block;
  max-width: 80px;
}

button.mfp_attached_reset {
  font-size: 14px;
}

div.mfp_draganddrop {
  margin: 5px auto;
  width: 100%;
  height: 200px;
  border: solid 2px #CCC;
  border-radius: 3px;
  background: url(../form/mfp.statics/_images/draganddrop.png) no-repeat center center #EEE;
  background-size: auto 80%;
}
div.mfp_dragover {
  border: solid 2px #0068B7;
  background-color: #FFF;
}
div.mfp_attached_filelist {
  margin: 5px auto;
  padding: 5px;
  width: 100%;
  border: solid 1px #CCC;
  border-radius: 3px;
}

form#mailformpro dl dd div.mfp_attached_filelist ul, div.mfp_attached_filelist ul {
  padding: 5px;
}

form#mailformpro dl dd div.mfp_attached_filelist ul li, div.mfp_attached_filelist ul li {
  padding: 5px 5px 5px 2em;
  background: url(../form/mfp.statics/_images/file.png) no-repeat 5px center;
  background-size: 1.3em 1.3em;
  display: inline-block;
  margin-right: 1em;
}

form#mailformpro dl dd div.mfp_attached_filelist ul li:last-child {
  border: none;
}

div.mfp_attached_filelist ul li:last-child {
  border: none;
}
div.mfp_guide {
  position: relative;
  width: 1px;
  height: 1px;
}
div.mfp_guide div {
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin-top: -2em;
  white-space: nowrap;
  border-radius: 5px;
  padding: 5px 10px;
  line-height: 1em;
  font-size: 12px;
  color: #FFF;
  font-weight: bolder;
  background: #F00;
  display: none;
}
div#mfp_numticket_wrapper {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  clear: both;
  padding: 15px;
}
div#mfp_numticket_wrapper * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
div#mfp_numticket_wrapper section#numticket_message_wrapper {
  border: solid 3px #F00;
  border-radius: 5px;
  background: #FEE;
  padding: 15px;
  font-size: 16px;
  line-height: 1.7em;
  margin: 5px auto;
}
div#mfp_numticket_wrapper section#numticket_waitTime {
  border: solid 3px #CCC;
  border-radius: 5px;
  background: #FFF;
  padding: 15px;
  font-size: 16px;
  margin: 10px auto;
}
div#mfp_numticket_wrapper section#numticket_waitTime strong {
  font-size: 32px;
  display: block;
  text-align: center;
}
div#mfp_numticket_wrapper section#numticket_waitTime p.numticket_center {
  text-align: center;
}
div.mfp_traffic_status {
  max-width: 460px;
  margin: 10px auto;
  border: solid 1px #CCC;
  border-radius: 3px;
  padding: 15px;
}
div.mfp_traffic_status h3 {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  color: #999;
}
div.mfp_traffic_status table {
  text-align: center;
  width: 100%;
}
div#wrapper div.mfp_traffic_status table tr th, div#wrapper div.mfp_traffic_status table tr td {
  border: none;
  padding: 0;
}
div.mfp_traffic_status table td, div.mfp_traffic_status table th {
  border: none;
  padding: 0;
}
div#wrapper div.mfp_traffic_status table tr td, div.mfp_traffic_status table td {
  padding: 0 2px;
}
div#wrapper div.mfp_traffic_status table tr th {
  border-top: solid 1px #CCC;
  font-size: 10px;
  font-weight: normal;
  padding-top: 5px;
  color: #999;
}
div.mfp_traffic_status table th {
  border-top: solid 1px #CCC;
  font-size: 10px;
  font-weight: normal;
  padding-top: 5px;
  color: #999;
}
div.mfp_traffic_status table td {
  height: 100px;
}
div.mfp_traffic_status table td span {
  display: block;
  background: #7BAAF7;
  border-radius: 3px 3px 0 0;
  border-top: solid 1px #66A1F7;
  border-right: solid 1px #66A1F7;
  border-left: solid 1px #66A1F7;
  min-width: 10px;
  max-width: 30px;
  margin: 0 auto;
  padding-bottom: 10px;
}
div.mfp_traffic_status table td span.mfp_traffic_status_current {
  background: #5D7AF2;
  border-top: solid 1px #546CD1;
  border-right: solid 1px #546CD1;
  border-left: solid 1px #546CD1;
}

.mfp_ok {
  background-color: rgba(0, 255, 0, 0.2);
}

.mfp_ng {
  background-color: rgba(255, 0, 0, 0.2);
}

div#mfp_OperationCheck div#mfp_OperationCheck_inner {
  display: none;
}
div#mfp_OperationCheck strong {
  background: #090;
  display: block;
  color: #222;
  text-align: center;
  border-radius: 3px;
}
div#mfp_OperationCheck * {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
}
div#mfp_OperationCheck p {
  padding: 0px 5px;
  margin: 0px;
  font-size: 12px;
}
div#mfp_OperationCheck p a {
  color: #0C0;
  text-decoration: none;
}
div#mfp_OperationCheck p a:hover {
  text-decoration: underline;
}
div#mfp_OperationCheck p button {
  border: none;
  background: none;
  color: #0C0;
  cursor: pointer;
}
div#mfp_OperationCheck p button:hover {
  text-decoration: underline;
}
div#mfp_OperationCheck ul li {
  line-height: 12px;
  font-size: 12px;
  list-style: none;
  vertical-align: middle;
  padding: 5px 10px;
}
div#mfp_OperationCheck ul li label {
  line-height: 12px;
  font-size: 12px;
  list-style: none;
  vertical-align: middle;
  text-decoration: underline;
}
div#mfp_OperationCheck ul li label input {
  line-height: 12px;
  font-size: 12px;
  list-style: none;
  vertical-align: middle;
}

button#mfp_recorder_record, button#mfp_recorder_clear, button#mfp_recorder_restore {
  border-radius: 5px;
  padding: 5px 10px 5px 2em;
  border: solid 1px #CCC;
  background: gradient(linear, center top, center bottom, from(#EEE), to(#CCC));
  background: -ms-linear-gradient(top, #EEE 0%, #CCC 100%);
  text-shadow: 0px 2px 0px #FFF;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  display: inline-block;
  margin: 5px auto;
}
button#mfp_recorder_record {
  background: url(../form/mfp.statics/_images/mfp_record_disabled.png) no-repeat 5px center #EEE;
  background-size: 24px 24px;
}
button#mfp_recorder_clear {
  background: url(../form/mfp.statics/_images/mfp_record_remove.png) no-repeat 5px center #EEE;
  background-size: 24px 24px;
}
button#mfp_recorder_restore {
  background: url(../form/mfp.statics/_images/mfp_record_restore.png) no-repeat 5px center #EEE;
  background-size: 24px 24px;
}
button.enabled#mfp_recorder_record, button.enabled#mfp_recorder_clear, button.enabled#mfp_recorder_restore {
  background: url(../form/mfp.statics/_images/mfp_record_enabled.png) no-repeat 5px center #EEE;
  background-size: 24px 24px;
}

div#mfp_recorder_wrap {
  border: solid 1px #CCC;
  padding: 10px;
  text-align: center;
  margin: 5px auto;
}

td.request_image {
  width: 100px;
}
td.request_image img {
  max-width: 100px;
}

button.mfp_submit_enable {
  background: none;
  background: #000090;
}
button.mfp_submit_disable {
  background: none;
  background: #FD8282;
}

span.mfp_tips {
  background-image: url(../form/mfp.statics/_images/mfp_header.png);
  background-size: 100% 100%;
  background-color: #FCC;
  display: block;
  border-radius: 5px;
  padding: 10px;
  margin: 2px;
  box-shadow: 0px 2px 10px #999;
}
span.mfp_tips strong {
  color: #800040;
}
span.mfp_tips span {
  display: block;
  padding: 10px;
  color: #008080;
}
span.mfp_tips em {
  font-style: normal;
  color: #090;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  form#mailformpro dl dt {
    float: none;
    width: auto;
    font-size: 12px;
    padding: 5px;
    text-align: left;
  }
  form#mailformpro dl dd {
    clear: both;
    border-top: none;
    padding: 5px 15px;
    font-size: 12px;
    line-height: 1.5em;
  }

  div.mfp_buttons button {
    font-size: 14px;
  }
  div#mfp_phase_confirm h4 {
    font-size: 18px;
  }

  ul#mfp_phase_stat {
    padding: 0px;
    text-align: left;
  }
  ul#mfp_phase_stat li {
    text-align: center;
    padding: 5px 0px;
    border-radius: 3px;
    margin: 5px;
    list-style: none;
    font-size: 14px;
    width: 28%;
  }
  ul#mfp_phase_stat li.mfp_phase_arrow {
    box-shadow: none;
    display: none;
  }
  table#mfp_confirm_table tr th {
    white-space: nowrap;
    width: 100px;
  }

  div#mfp_thanks {
    text-align: center;
    font-size: 18px;
    padding: 20px 0px;
  }
  div#mfp_thanks strong {
    color: #e73535;
    font-size: 24px;
    display: block;
  }
}
.required, .optional {
  position: relative;
  padding-left: 65px;
}
.required:before, .optional:before {
  position: absolute;
  content: "必須";
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: #f85e3f;
  padding: 3px 8px;
  color: white;
  font-style: normal;
  font-weight: normal;
  border-radius: 3px;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 1.2;
}

.optional:before {
  content: "任意";
  background: #aaa;
}

.form-control, .custom-select {
  font-size: 14px;
  color: #2d3038;
  border-color: rgba(45, 48, 56, 0.5);
}
@media only screen and (max-width: 768px) {
  .form-control, .custom-select {
    margin-top: 5px;
  }
}

.form-group {
  border-bottom: 1px solid #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .form-group {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.form-check .form-check-label {
  padding-left: 20px;
  margin-right: 10px;
}
.form-check .form-check-input {
  margin-left: 0;
  margin-top: 7px;
}

label {
  margin-bottom: 0;
}

.button__submit {
  margin-top: 30px;
}

.catalog figure img {
  box-shadow: 0 0 5px #ccc;
}
.catalog figure figcaption {
  line-height: 1.4;
  margin: 15px 0 7px;
  background: rgba(29, 148, 92, 0.8);
  padding: 4px 15px;
  text-align: center;
  color: #fff;
  letter-spacing: 0.9px;
}

.post__list li a {
  display: block;
  text-decoration: none;
  color: #2d3038;
  transition: all 0.4s;
}
.post__list li a:hover {
  color: #1D945C;
}
.post__list li article {
  padding: 15px 0;
  line-height: 1.55;
}
.post__list li article .day {
  letter-spacing: 0;
  font-size: 94%;
  color: #156941;
  font-weight: bold;
}
.post__list li article p {
  margin: 0;
}
.post__list li + li {
  border-top: 1px solid rgba(45, 48, 56, 0.2);
}

.information__list {
  padding: 0 10px;
}
.information__list li {
  padding-right: 0;
  padding-left: 0;
}
.information__list li a {
  display: block;
  text-decoration: none;
  padding: 0.8em 0.5em 0.8em 2em;
  position: relative;
  line-height: 1.5;
  text-decoration: none;
  color: #2d3038;
  border-radius: 4px;
}
@media only screen and (max-width: 768px) {
  .information__list li a {
    padding: 0.6em 0.5em 0.6em 1.4em;
    font-size: 13px;
    font-size: 1.3rem;
  }
}
.information__list li a:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 1.1em;
  width: 10px;
  height: 10px;
  background: rgba(97, 181, 219, 0.6);
  border-radius: 50%;
}
@media only screen and (max-width: 768px) {
  .information__list li a:before {
    width: 7px;
    height: 7px;
    left: 3px;
  }
}
.information__list li a:hover {
  background: rgba(97, 181, 219, 0.3);
}

.features__block .col-12 {
  margin-bottom: 2em;
}
.features__block .col-md-3 .features__title:before {
  content: none;
}

.color__list .color__list__caption {
  line-height: 1.2;
  margin-top: 0.2em;
}
@media only screen and (max-width: 420px) {
  .color__list .color__list__caption {
    text-align: center;
  }
}

.recflex {
  display: flex;
}

@media only screen and (min-width: 769px) {
  .hide-md {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .hide-sm-only {
    display: none;
  }
}

.mb {
  margin-bottom: 2.5em;
}