@charset "UTF-8";

.article__icon {
  position: relative;
  -webkit-animation: float ease-out 0.8s;
  animation: float ease-out 0.8s;

  img {
    position: absolute;
    top: -130px;
    left: -20px;
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 20px;

    // max-width: 180px;
    @include media(sm) {
      top: -55px;
      max-width: 140px;
    }
  }
}

.layout__date {
  @include media(md) {
    margin-left: -20px;
    margin-right: -20px;
  }

  div[class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.table__vr {
  @include fontsize(13);
  width: 100%;
  line-height: 1.4;
  margin: 15px 0;

  th, td {
    border: 1px solid #ccc;
    padding: 10px 5px;
  }

  th {
    font-weight: bold;
    text-align: center;
  }

  td {
    letter-spacing: 0;

    &:nth-of-type(2) {
      width: 33%;
      text-align: right;
    }
  }
}

.table__vr2 {
  @include fontsize(13);
  width: 100%;
  line-height: 1.4;
  margin: 15px 0;

  th, td {
    border-bottom: 1px solid #ccc;
    padding: 10px 5px;
  }

  th {
    font-weight: bold;
    text-align: center;
  }

  td {
    letter-spacing: 0;
  }
}
.features__block__image {
    &__smallL {
        float: left;
        max-width: 90px;

        @include media(xs) {
            float: none;
            max-width: unset;
        }
    }

    &__smallR {
        float: right;
        max-width: 90px;

        @include media(xs) {
            float: none;
            max-width: unset;
        }
    }
    &__center{
        margin-top: 8rem;
        @include media(xs){
            margin-top: unset;
        }
    }
}
     