@charset "UTF-8";
.article__contents{
  .layout__date{
    padding: 2em 0 0;
    .layout__date__image{
      margin-bottom: 1.5em;
    }
  }
}
.menu__section{
  
}
.menu__list{
  a{
    display: block;
    text-decoration: none;
    &:hover{
      img{
        opacity: 0.7;
      }
      .menu__list__caption{
        color: $color_primary;
      }
    }
  }
  .menu__list__image{
  }
  .menu__list__caption{
    margin: .5em 0 2em;
    line-height: 1.5;
    border-left: 4px solid $color_primary;
    padding: .3em 0 .3em .5em;
    color: $color_black;
    transition: 0.3s ease-in-out;
    @include media(sm) {
      margin: 1em 0 2em;
    }
  }
}
.listbtn {
  display: inline-block;
  position: relative;
  background: #fff;
  color:#15181f;
  margin-bottom: 2em;
  width: 100%;
  border:2px solid #15181f;
  padding:1.5rem 5.5rem 1.5rem 1.8rem;
  transition: all .3s;

  &:after{
    content:"";
    position:absolute;
    display: block;
    transition: all .3s;
    width: 7px;
    height: 18px;
    top:50%;
    right: 2.5rem;
    box-shadow:2px -2px 0 #fff;
    border-top: solid 2px #15181f;
    border-right: solid 2px #15181f;
    transform: translateY(-50%) rotate(45deg) skewX(-45deg);;
  }

  &:hover {
    color: #1D945C;
    border:2px solid #1D945C;
    &:after {
      right:5px;
      height: 40px;
      border-top: solid 2px #1D945C;
      border-right: solid 2px #1D945C;
    }
  }
}


//breakpointの書き方mixin
//--------------------------------------------
//769px以上の場合　PCサイズ MD
//@media only screen and (min-width: 769px) {
//    . }
//--------------------------------------------
@include media(md) {
    //    ここにscssを書く
}

//--------------------------------------------
//768px以下の場合　タブレットサイズ SM
//@media only screen and (max-width: 768px) {
//     }
//--------------------------------------------
@include media(sm) {
    //    ここにscssを書く
}

//--------------------------------------------
//420px以下の場合　スマホサイズ XS
//@media only screen and (max-width: 420px) {
//   }
//--------------------------------------------
@include media(xs) {
    //    ここにscssを書く
}