@charset "UTF-8";
.article__contents{
  .layout__date{
    padding: 2em 0 0;
    .layout__date__image{
      margin-bottom: 1.5em;
    }
  }
}
.menu__section{
  
}
.menu__list{
  a{
    display: block;
    text-decoration: none;
    &:hover{
      img{
        opacity: 0.5;
      }
      .menu__list__caption{
        color: $color_primary;
      }
    }
  }
  .menu__list__image{
  }
  .menu__list__caption{
    margin: .5em 0 2em;
    line-height: 1.5;
    border-left: 4px solid $color_primary;
    padding: .3em 0 .3em .5em;
    color: $color_black;
    transition: 0.3s ease-in-out;
    @include media(sm) {
      margin: 1em 0 2em;
    }
  }
  .icon_triborder {
     position:relative;
     display:block;
     padding-left:17px;
   }
  .icon_triborder:after {
      content: "";
      border-top: 3px solid #1D945C;
      border-right: 3px solid #1D945C;
      margin-top: -11px;
      right: 20px;
      height: 17px;
      width: 17px;
      position: absolute;
      top: 50%;
      transform: rotate(45deg);
  }
}
.mini-mb {
  margin-bottom: 1.5em;
}

.btn--top a{
  color: #1D945C;
  text-decoration: none;
}

.btn--top {
  display: inline-block;
  border:1px solid;
  color: #1D945C;
  padding: 1rem 1.5rem;
  justify-content: center;
  border-radius: .3rem;
  transform: translateY(0px);
  transition:all .2s;
  background:rgba(#1D945C,.03);
  &:hover {
    background:#fff;
    transform: translateY(-3px);
    box-shadow: 0 .3rem 0 #1D945C;
  }
}


//breakpointの書き方mixin
//--------------------------------------------
//769px以上の場合　PCサイズ MD
//@media only screen and (min-width: 769px) {
//    . }
//--------------------------------------------
@include media(md) {
    //    ここにscssを書く
}

//--------------------------------------------
//768px以下の場合　タブレットサイズ SM
//@media only screen and (max-width: 768px) {
//     }
//--------------------------------------------
@include media(sm) {
    //    ここにscssを書く
}

//--------------------------------------------
//420px以下の場合　スマホサイズ XS
//@media only screen and (max-width: 420px) {
//   }
//--------------------------------------------
@include media(xs) {
    //    ここにscssを書く
}