@charset "UTF-8";

/* リスト
=========================================== */

.list{
    margin-bottom: 1em;
    >li:not(:last-child){
        margin-bottom: .5em;
        
    }
}


.list-disc {
   

    li {
     
        padding-left: .5em;
        position: relative;

        &:before {
            position: relative;
            vertical-align: middle;
            content: "・";
            margin-right: .5em;
           //@include fontsize($baseFontSize*.2);
            color: $color_primary;
        }
    }

 



}

.list-circle {
    margin-bottom: 1em;

    li {
        margin-bottom: .5em;
        padding-left: .5em;
        position: relative;

        &:before {
            position: relative;
            vertical-align: middle;
            content: "\f111";
            font-family: FontAwesome;
            margin-right: 1em;
            @include fontsize($baseFontSize*.3);
            color: $color_primary;
        }
    }
}

.list-arrow {
    margin-bottom: 1em;

    li {
        margin-bottom: .5em;
        padding-left: 1em;
        position: relative;

        &:before {
            position: relative;
            vertical-align: middle;
            content: "\f152"; //f105
            font-family: FontAwesome;
            margin-right: .5em;
            color: $color_primary;
        }
    }
}

.list-check {
    margin-bottom: 1em;

    li {
        margin-bottom: .5em;
        padding-left: 2em;
        position: relative;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: "\f14a";
            font-family: FontAwesome;
            padding: 2px 7px;
            margin-right: 3px;
        }
    }
}

.list-number {
    counter-reset: li;
    list-style: none;
    padding-left: 0;

    > li {
        position: relative;
        margin-bottom: .5em;
        padding-left: 2.5em;

        &:before {
            content: counter(li) "";
            counter-increment: li;
            position: absolute;
            left: 0;
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            line-height: 1.5;
            text-align: center;
            color: #fff;
            font-family: $english;
        }
    }


    li:before {
        background: $color_primary;
    }

    //secondaryの色
    //        li:before {
    //            background: $color_secondary;
    //        }

}

.list-number02 {
    margin-bottom: 20px;
    list-style-type: none;
    list-style-type: decimal;
    counter-reset: li-counter;
    //background: #f5f5f5;
    padding: 30px 20px 20px 80px;

    > li {
        position: relative;
        margin-bottom: 20px;
        padding-bottom: 10px;
        padding-left: 0.5em;
        min-height: 3em;
        border-bottom: 1px dotted $gray;

        &:before {
            position: absolute;
            top: 0;
            left: -1em;
            width: 0.2em;
            font-size: 3em;
            line-height: 1;
            text-align: right;
            content: counter(li-counter);
            counter-increment: li-counter;
            font-family: $english;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}